# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Google credentials / service account files
credentials.json
*.json

# macOS
.DS_Store
